.content {
  margin: 10px;
  padding: 30px;
  @media (min-width: $grid-breakpoints-md) {
    //margin: 20px;
  }
  z-index: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
}
